<div light:style="display: flex; center: column; background-color: [$mainColor]; width: 100vw; height: [3.5ps]">
  <div light:style="flex: 1">
    <h1 class="text" light:style="color: [$textColor]; font-size: [$textSize3]; margin-left: [1ps]">Beatpack</h1>
  </div>
  <div light:style="display: flex; center: column; margin-right: [1ps]; cursor: pointer">
    <h1 class="text" light:style="color: [$textColor]; font-size: [$textSize6]; margin-right: [0.75ps]">Guest</h1>
    <img src="./Images/Guest.png" light:style="border-radius: [0.25ps]; height: [2ps]">
  </div>
</div>
